@import url(./variables.css);

@font-face {
	font-family: 'Inter';
	src: url('../../fonts/Inter-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../../fonts/Inter-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

body {
	margin: 0;
	/* @TODO: Установить шрифты*/
	font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--black);
	background-color: var(--grey-3);
	/* @TODO: Установить глобальные стили*/
}
