@import url(./variables.css);

body {
	margin: 0;
	/* @TODO: Установить шрифты*/
	font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--primary-black);
	/* @TODO: Установить глобальные стили*/
}
