@import 'app/styles/sass/mixins.scss';

.flexInput {
	display: flex;
	gap: 20px;

	@include mobile {
		flex-direction: column;
		gap: 0;
	}
}

.btn {
	margin-top: 6px;
}

.wrapper {
	padding-bottom: 46px;

	@include mobile {
		padding-bottom: 40px;
	}
}
