@import 'app/styles/sass/mixins.scss';

.default {
	padding: 36px 0 0;
}

.container-default {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 22px;

	@include tablet {
		grid-template-columns: repeat(2, 1fr);
		gap: 24px;
	}

	@include mobile {
		grid-template-columns: 1fr;
	}
}

.title-default {
	margin: 0;
	margin-bottom: 24px;
}
