@import 'app/styles/sass/mixins.scss';

.default {
	padding: 36px 0 0;
}

.container-default {
	display: flex;
	justify-content: space-between;
}

.title-default {
	margin: 0;
	margin-bottom: 24px;
}
