@import 'app/styles/sass/mixins.scss';

.container {
	display: flex;
	column-gap: 40px;

	&.sberbank {
		column-gap: 20px;
	}

	&.tinkoff {
		width: 654px;
		height: 108px;
		gap: 20px;

		@include tablet {
			width: 400px;
		}

		@include tablet {
			width: 654px;
		}

		@include mobile {
			width: 328px;
			height: auto;
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 16px 20px;
		}
	}
}

.conditions-item {
	display: flex;
	margin-bottom: 5px;
	flex-direction: column;
	row-gap: 12px;

	&.sberbank {
		width: 173px;
		height: 108px;
		border-radius: 12px;
		justify-content: center;
		align-items: center;
		background-color: var(--white);
	}

	&.tinkoff {
		background-color: var(--white);
		width: 100%;
		border-radius: 12px;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;

		@include mobile {
			height: 84px;
		}
	}

	&.vsk {
		width: 173px;
		height: 108px;
		border-radius: 12px;
		justify-content: center;
		align-items: center;
		background-color: var(--white);
	}
}

.value-container {
	&::after {
		content: '₽';
		margin-left: 3px;
	}
}

.year-container {
	&::after {
		content: 'год';
		margin-left: 3px;
	}
}
