.container {
	display: flex;
	column-gap: 40px;

	&.sberbank {
		column-gap: 20px;
  }
  
	&.tinkoff {
		width: 654px;
		height: 108px;
		gap: 20px;
	}
}

.conditions-item {
	display: flex;
	margin-bottom: 5px;
	flex-direction: column;
	row-gap: 12px;


	&.sberbank {
		display: flex;
		width: 173px;
		height: 108px;
		border-radius: 12px;
		justify-content: center;
		align-items: center;
		background-color: var(--white);
	}
  
  &.tinkoff {
		background-color: var(--white);
		width: 100%;
		border-radius: 12px;
		justify-content: center;
		align-items: center;
		margin-bottom: 0;
	}
}

.value-container {
	&::after {
		content: '₽';
		margin-left: 3px;
	}
}

.year-container {
	&::after {
		content: 'год';
		margin-left: 3px;
}
