.container {
	display: flex;
	column-gap: 12px;
	align-items: center;
	width: 148px;
}

.container-star {
	display: flex;
	height: 14px;
	gap: 10px;
}

.star {
	width: 14px;
	height: 14px;
	background-image: url('/images/Star.svg');
	background-repeat: no-repeat;
	background-position: center;
}

.null-star {
	width: 14px;
	height: 14px;
	background-image: url('/images/null-star.svg');
	background-repeat: no-repeat;
	background-position: center;
}
