@import 'app/styles/sass/mixins.scss';

.root {
	min-width: 96px;
	min-height: 48px;
	padding: 0 32px;
	border-radius: 12px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	cursor: pointer;
}

.accent {
	border: none;
	color: var(--black);
	background-color: var(--accent-color-yellow);
	font-size: 16px;
	height: 56px;

	&:hover {
		background-color: var(--accent-yellow-hover);
	}

	&:active {
		background-color: var(--accent-yellow-pressed);
	}

	&.submit-form {
		min-width: 211px;
		height: 56px;
		align-self: flex-start;

		@include mobile {
			width: 100%;
			height: 48px;
		}
	}

	&.count {
		width: 157px;
		height: 56px;
		align-self: flex-start;

		@include mobile {
			width: 100%;
		}
	}

	&.result {
		min-width: 197px;
		height: 56px;
	}

	&.disable {
		color: var(--grey-1);
		background-color: var(--grey-3);
		cursor: auto;
	}

	&.sberbank {
		min-width: 227px;
		height: 56px;
	}

  &.main {
    width: 100%;
    height: 48px
  }

	@include hover;
}

.ghost {
	color: var(--black);
	background-color: transparent;
	border: 2px solid var(--grey);

	&:hover {
		border-color: var(--grey-5);
	}

	&:active {
		border-color: var(--black);
	}

	&.more {
		min-width: 156px;
		height: 56px;
	}

	&.submit-request {
		min-width: 211px;
		height: 56px;
	}

	&.enter {
		padding: 0 20px;
	}

	&.more {
		padding: 0 32px;
		align-self: center;
	}

	&.disable {
		color: var(--grey-1);
		border-color: var(--grey-1);
		cursor: auto;
	}

	&.sberbank {
		min-width: 196px;
		height: 56px;
		padding: 0 32px;
	}

	&.back-button {
		min-width: 227px;
		height: 56px;
	}

	@include hover;
}
