@import 'app/styles/sass/mixins.scss';

.root {
	min-width: 96px;
	min-height: 48px;
	padding: 0 32px;
	border-radius: 12px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
	cursor: pointer;
}

.accent {
	border: none;
	color: var(--black);
	background-color: var(--accent-color-yellow);
	font-size: 16px;
	height: 56px;

	&:hover {
		background-color: var(--accent-yellow-hover);
	}

	&:active {
		background-color: var(--accent-yellow-pressed);
	}

	&.submit-form {
		min-width: 211px;
		height: 56px;
		align-self: flex-start;

		@include mobile {
			width: 100%;
			height: 48px;
		}
	}

	&.count {
		width: 157px;
		height: 56px;
		align-self: flex-start;

		@include mobile {
			width: 100%;
		}
	}

	&.result {
		min-width: 197px;
		height: 56px;
	}

	&.disable {
		color: var(--grey-1);
		background-color: var(--grey-3);
		cursor: auto;
	}

	&.sberbank {
		min-width: 227px;
		height: 56px;
	}

	&.main {
		width: 100%;
		height: 48px;
	}

	&.vsk {
		min-width: 227px;
		height: 56px;
	}

	@include hover;

	@include mobile {
		height: 48px;
	}
}

.ghost {
	color: var(--black);
	background-color: transparent;
	border: 2px solid var(--grey);

	&:hover {
		border-color: var(--grey-5);
	}

	&:active {
		border-color: var(--black);
	}

	&.more {
		min-width: 156px;
		height: 56px;

		@include mobile {
			width: 100%;
		}
	}

	&.submit-request {
		min-width: 211px;
		height: 56px;

		@include mobile {
			min-width: 193px;
			height: 48px;
			padding: 0 24px;
		}
	}

	&.enter {
		padding: 0 20px;
	}

	&.more {
		padding: 0 32px;
		align-self: center;

		@include mobile {
			height: 48px;
			min-width: 139px;
			padding: 0 16px;
		}
	}

	&.disable {
		color: var(--grey-1);
		border-color: var(--grey-1);
		cursor: auto;
	}

	&.sberbank {
		min-width: 196px;
		height: 56px;
		padding: 0 32px;
	}

	&.vsk {
		min-width: 196px;
		height: 56px;
		padding: 0 32px;
	}

	&.back-button {
		min-width: 227px;
		height: 56px;

		@include mobile {
			height: 48px;
		}
	}

	&.menu {
		display: none;
		background-image: url('/images/icon_burger.svg');
		background-size: 26px 17px;
		background-position: center;
		background-repeat: no-repeat;

		@include mobile {
			display: inline-block;

			position: relative;
			box-sizing: border-box;

			padding: 0;
			min-width: 48px;
			height: 48px;

			border: 2px solid var(--grey-2);
			border-radius: 12px;
			background-color: var(--grey-2);

			&.activated {
				border-color: var(--black);
			}
		}
	}

	@include hover;
}
