@import 'app/styles/sass/mixins.scss';

.container {
	max-width: 558px;
	padding: 64px 0;
	margin: 0 auto;
	text-align: center;

  @include mobile {
    padding-top: 48px;
    text-align: left;
    padding-bottom: 48px;
  }
}

.container-description {
	margin-top: 24px;
	margin-bottom: 20px;
}
