@import 'app/styles/sass/mixins.scss';

.root {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
	border-radius: 36px;

	&.consult-form {
		min-width: 100%;

    @include tablet {
      border-radius: 24px;
    }
	}

	&.osago-form {
		max-width: 1040px;
	}

	&.unusual-case-form {
		min-width: 100%;
		margin: 0 auto 100px;

		@include mobile {
			border-radius: 24px;
			margin-bottom: 48px;
			border-radius: 24px;
		}
	}
}

.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 64px 96px;

	&.consult-form {
		min-width: 936px;
		justify-content: space-between;

    @include tablet {
      max-width: 328px;
      min-width: auto;
      padding: 28px 20px;
    }
	}

	&.osago-form {
		min-width: 747px;
		gap: 120px;
		align-items: flex-start;

		@include desktop {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 28px 20px;
		}

		@include tablet {
			min-width: 100%;
			justify-content: center;
		}

		@include mobile {
			min-width: 100%;
			padding: 28px 0 24px;
			gap: 20px;
		}
	}

	&.kasko-form {
		padding: 64px 0;
		min-width: 936px;
		justify-content: space-between;

		@include tablet {
			min-width: 100%;
			justify-content: center;
		}

		@include mobile {
			min-width: 100%;
			padding: 28px 0 24px;
		}
	}

	&.dmc-form {
		padding: 64px 0;
		min-width: 936px;
		justify-content: space-between;

		@include tablet {
			min-width: 100%;
			justify-content: center;
		}

		@include mobile {
			min-width: 100%;
			padding: 28px 0 24px;
		}
	}

	&.unusual-case-form {
		max-width: 936px;
		gap: 20px;
		justify-content: center;
		align-items: flex-end;
		padding-top: 76px;
		padding-bottom: 77px;

		@include tablet {
			align-items: center;
		}

		@include mobile {
			padding: 28px 20px;
		}
	}

	@include tablet {
		flex-direction: column;
	}
}

.form {
	display: flex;
	flex-direction: column;

	&.consult-form {
		min-width: 458px;

    @include mobile {
      min-width: auto;
      max-width: 288px;
    }
	}

	&.osago-form {
		gap: 12px;
	}

	&.kasko-form {
		max-width: 551px;
		gap: 5px;

		@include mobile {
			min-width: 288px;
		}
	}

	&.dmc-form {
		min-width: 362px;
		gap: 4px;

		@include tablet {
			min-width: 80%;
		}

		@include mobile {
			min-width: 288px;
		}
	}

	&.unusual-case-form {
		min-width: 554px;

		@include mobile {
			min-width: 288px;
		}
	}
}

.pic {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	&.consult-form {
		background-image: url('/images/consult_form.svg');
		width: 458px;
		height: 458px;
		margin-top: 145px;

    @include mobile {
      max-width: 328px;
      max-height: 328px;
      margin-top: 32px;
    }
	}

	&.osago-form {
		background-image: url('/images/osago_form.svg');
		width: 365px;
		height: 242px;

		@include mobile {
			margin-top: 20px;
			width: 288px;
			height: 190px;
			align-self: center;
		}
	}

	&.kasko-form {
		background-image: url('/images/kasko_form.svg');
		width: 362px;
		height: 288px;
		align-self: flex-start;
		margin-top: 48px;

		@include tablet {
			display: none;
		}

		@include mobile {
			margin-top: 20px;
			width: 289px;
			height: 230px;
			align-self: center;
		}
	}

	&.dmc-form {
		background-position: top;
		background-image: url('/images/dmc_form.svg');
		width: 458px;
		height: 458px;
		margin-top: 35px;

		@include tablet {
			display: none;
		}

		@include mobile {
			margin-top: 20px;
			width: 289px;
			height: 230px;
			align-self: center;
		}
	}

	&.unusual-case-form {
		background-image: url('/images/unusualcase_form.svg');
		width: 362px;
		height: 362px;

		@include mobile {
			display: none;
		}
	}
}
