.root {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
	border-radius: 36px;

	&.consult-form {
		min-width: 100%;
	}

	&.osago-form {
		max-width: 943px;
	}
}

.container {
	display: flex;
	flex-direction: row;
	align-items: center;

	&.consult-form {
		padding: 64px 0;
		min-width: 936px;
		justify-content: space-between;
	}

	&.osago-form {
		padding: 64px 0;
		min-width: 747px;
		gap: 20px;
		align-items: flex-start;
	}
}

.form {
	display: flex;
	flex-direction: column;

	&.consult-form {
		min-width: 458px;
	}

	&.osago-form {
		min-width: 362px;
		gap: 20px;
	}
}

.pic {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;

	&.consult-form {
		background-image: url('/images/consult_form.svg');
		width: 366px;
		height: 368px;
	}

	&.osago-form {
		background-image: url('/images/osago_form.svg');
		width: 365px;
		height: 242px;
	}
}
