@import 'app/styles/sass/mixins.scss';

.input-default {
	width: 265px;
	height: 56px;
	padding: 16px 20px;
	box-sizing: border-box;
	border: 0;
	border-radius: 12px;
	background-color: var(--grey-2);
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;

	&:focus {
		outline: 1px solid var(--black);
		background-color: var(--white);
	}

	@include tablet {
		max-width: 288px;
		width: 100%;
	}
}

.input-default-error {
	padding: 15px 19px;
	border: 1px solid var(--red);
	background-color: var(--white);

	&:focus {
		outline-width: 0;
	}
}

.input-default-disable {
	padding: 16px 20px;
	background-color: var(--grey-3);
	border: 0;
}

.input-unusual-case-short {
	max-width: 265px;

	@include mobile {
		max-width: 288px;
		width: 100%;
	}
}
