.paragraph {
	display: inline;
	padding-top: 10px;
}

.paragraph:first-child {
	padding: 0;
}

.tinkoff {
  background-color: var(--white);
  border-radius: 20px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  box-sizing: border-box;
  min-height: 224px;
}
