@import 'app/styles/sass/mixins.scss';

.paragraph {
	display: inline;
	padding-top: 10px;
}

.paragraph:first-child {
	padding: 0;
}

.tinkoff {
	background-color: var(--white);
	border-radius: 20px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	gap: 11px;
	box-sizing: border-box;
	min-height: 224px;

	@include mobile {
		background-color: var(--grey3);
		min-height: auto;
		padding: 0;
		display: list-item;
	}
}

.sberbank-sevice {
	display: flex;
	flex-direction: column;
	width: 269px;
	min-height: 224px;
	padding: 24px;
	background-color: var(--white);
	border-radius: 20px;
	gap: 12px;
	box-sizing: border-box;
}
