.type_default {
	max-width: var(--max-width-accordion);
	overflow: hidden;
}

.title_type_default {
	display: flex;
	padding: 10px 0;
	justify-content: space-between;
	border-bottom: 1px var(--black) solid;
	align-items: center;
}

.arrow_type_default {
	position: relative;
	width: 30px;
	height: 30px;

	&::after {
		content: '';
		position: absolute;
		display: block;
		top: 6px;
		right: 8px;
		width: 10px;
		height: 10px;
		border: solid var(--black);
		border-width: 0 2px 2px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
		transition: transform 300ms;
	}

	&.close {
		&::after {
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}

	&.open {
		&::after {
			top: 12px;
			-moz-transform: rotate(45deg) scale(-1, -1);
			-o-transform: rotate(45deg) scale(-1, -1);
			-webkit-transform: rotate(45deg) scale(-1, -1);
			transform: rotate(45deg) scale(-1, -1);
		}
	}
}

.content_type_default {
	padding: 10px 0;
	background-color: var(--grey-2);
	transition: all 300ms;

	&.close {
		max-height: 0;
		padding: 0;
	}

	&.open {
		max-height: 100vh;
	}
}
