@import 'app/styles/sass/mixins.scss';

.root {
	flex-grow: 1;
	padding-bottom: 100px;

  @include mobile {
    margin-top: 24px;
    padding-bottom: 44px;
  }
}

.container {
	display: flex;
	margin-inline: auto;
	max-width: 1136px;
	justify-content: space-between;
}

.left-column {
	display: flex;
	flex-direction: column;
	width: 559px;
	gap: 40px;

  @include mobile {
    gap: 21px;
  }
}

.left-column section {
	margin: 0;
}

.rating-container {
	margin-top: 8px;
}

.about-container {
	display: flex;
	flex-direction: column;
	margin-top: 16px;
	gap: 10px;

  @include mobile {
    margin-top: 10px;
  }
}

.term-container {
	margin-top: 16px;

  @include mobile {
    margin-top: 11px;
  }
}

.license {
	display: block;
	margin-top: 18px;

  @include mobile {
    margin-top: 11px;
  }
}

.button-container {
	display: flex;
	gap: 24px;

  @include mobile {
    flex-direction: column;
    gap: 12px;
  }
}
