@import 'app/styles/sass/mixins.scss';

.icon {
	width: 32px;
	height: 32px;
	background-size: cover;

	@include desktop {
		display: none;
	}
}

.bold {
	font-size: 16px;
	font-weight: 700;
	line-height: 20px;
}
