@import 'app/styles/sass/mixins.scss';

.default {
	display: flex;
	padding: 32px 0;
	gap: 16px;
	box-sizing: border-box;
	background-color: var(--white);
	transition: padding-bottom 400ms;

	&.open {
		padding-bottom: 32px;
	}

	@include mobile {
		padding: 10px 0;
	}
}

.title {
	display: flex;

	&::after {
		content: ' ';
		display: block;
		flex-shrink: 0;
		width: 24px;
		height: 24px;
		margin-left: 4px;
		background-image: url(/images/icon-arrow.svg);
		background-size: cover;
		transition: transform 350ms;
	}

	&.rotate {
		&::after {
			transform: rotate(180deg);
		}
	}

  @include tablet {
    font-size: 16px;
    font-weight: 700;
    line-height: 20px; 
  }
}

.content-default {
	max-height: 0;
	margin: 0;
	padding: 0;
	text-align: justify;
	overflow: hidden;
	transition: all 0.35s;

	&.open {
		max-height: 100vh;
		padding-top: 16px;
    
    @include mobile {
      padding-top: 5px;
    }
	}
}
