.default {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title-default {
  margin: 0;
}

.list-default {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style: none;
}
