@import 'app/styles/sass/mixins.scss';

.default {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.wrapper {
	margin-bottom: 100px;
	padding: 24px 100px;
	border-radius: 36px;
	background-color: var(--white);

    @include tablet {
        padding: 20px 50px;
        margin-bottom: 40px;
    }

    @include mobile {
        padding: 18px 20px;
        margin-bottom: 48px;
    }

	&.osago {
		margin-bottom: 92px;
	}

	&.kasko {
		margin-bottom: 105px;

		@include tablet {
			padding: 20px 50px;
			margin-bottom: 40px;
		}

		@include mobile {
			padding: 18px 20px;
			margin-bottom: 48px;
		}
	}
}
