.default {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.wrapper {
	margin-bottom: 76px;
	padding: 24px 100px;
	border-radius: 36px;
	background-color: var(--white);

	&.dms {
		margin-bottom: 100px;
	}

	&.osago {
		margin-bottom: 92px;
	}

	&.kasko {
		margin-bottom: 105px;
	}
}
