@import 'app/styles/sass/mixins.scss';

.default {
	position: relative;
	background-color: var(--white);
	border-radius: 20px;
	max-width: 300px;
	height: 392px;
	padding: 32px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;

	@include tablet {
		margin: 0 auto;
	}

	@include mobile {
		padding: 28px 20px;
		height: auto;
	}
}

.image-default {
	display: block;
	margin: 0 auto 16px;
	width: 100%;
	height: 212px;

	@include mobile {
		margin-bottom: 12px;
	}
}

.title-default {
	margin: 0;
	margin-bottom: 12px;
}

.button-default {
	margin-top: 24px;

	@include mobile {
		margin-top: 20px;
	}
}
