@import 'app/styles/sass/mixins.scss';

.typography--variant-h1 {
    font-size: 52px;
    font-weight: 700;
    line-height: 64px;
}

.typography--variant-h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
}

.typography--variant-h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

.typography--variant-h3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

.typography--variant-body1 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.typography--variant-body2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}

.typography--variant-body3 {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.typography--color-primary {
    color: var(--primary-black);
}

.typography--color-error {
    color: red;
}



