@import 'app/styles/sass/mixins.scss';

.typography--variant-h1 {
	margin: 0;
	font-size: 40px;
	font-weight: 700;
	line-height: 48px;

	@include mobile {
		font-size: 24px;
		line-height: 28px;
	}
}

.typography--variant-h2 {
	margin: 0;
	font-size: 36px;
	font-weight: 700;
	line-height: 44px;

	@include tablet {
		font-size: 28px;
		line-height: 34px;
	}

	@include mobile {
		font-size: 22px;
		line-height: 28px;
	}
}

.typography--variant-h3 {
	margin: 0;
	font-size: 30px;
	font-weight: 700;
	line-height: 36px;

	@include tablet {
		font-size: 26px;
		line-height: 32px;
	}

	@include mobile {
		font-size: 22px;
		line-height: 28px;
	}
}

.typography--variant-h4 {
	margin: 0;
	font-size: 24px;
	font-weight: 700;
	line-height: 32px;

	@include tablet {
		font-size: 18px;
		line-height: 24px;
	}
}

.typography--variant-h5 {
	margin: 0;
	font-size: 96px;
	font-weight: 400;
	line-height: 84px;

	@include tablet {
		font-size: 64px;
		line-height: 60px;
	}

	@include mobile {
		font-size: 64px;
		line-height: 60px;
	}
}

.typography--variant-body1 {
	margin: 0;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	white-space: pre-wrap;

	@include tablet {
		font-size: 14px;
		line-height: 20px;
		font-weight: 400;
	}

	@include mobile {
		font-size: 16px;
		line-height: 20px;
		font-weight: 400;
	}
}

.typography--variant-body2 {
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;

	@include mobile {
		font-size: 14px;
	}
}

.typography--variant-body3 {
	margin: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;

	@include mobile {
		font-size: 14px;
		line-height: 20px;
	}
}

.typography--variant-footer {
	margin: 0;
	font-size: 18px;
	font-weight: 700;
	line-height: 24px;
	white-space: pre-wrap;

	@include mobile {
		font-size: 16px;
		line-height: 20px;
		font-weight: 700;
	}
}

.typography--variant-search {
	display: none;
	margin: 0;
	font-size: 16px;
	font-weight: 400;
	line-height: 20px;

	@include mobile {
		display: block;
	}
}

.typography--color-black {
	color: var(--black);
}

.typography--color-white {
	color: var(--white);
}

.typography--color-grey {
	color: var(--grey);
}

.typography--color-grey1 {
	color: var(--grey-1);
}

.typography--color-grey2 {
	color: var(--grey-2);
}

.typography--color-grey3 {
	color: var(--grey-3);
}

.typography--color-grey5 {
	color: var(--grey-5);
}

.typography--color-yellow {
	color: var(--accent-color-yellow);
}

.typography--padding-answerlist-title {
	padding-bottom: 10px;
}
