.default {
	width: 324px !important;
	height: 56px !important;
}

.select-osago {
	width: 362px !important;
}

.select-kasko {
	width: 551px !important;
}

.select-dmc {
	width: 100% !important;
}

.select-dmc-short {
	width: 169px !important;
}

.select-kasko-short {
	width: 265px !important;
}

.control-default {
	padding: 16px 20px !important;
	box-sizing: border-box !important;
	border: 0 !important;
	border-radius: 12px !important;
	background-color: var(--grey-2) !important;

	&.focused {
		outline: 1px solid var(--black) !important;
		background-color: var(--white) !important;
	}
}

.value-container-default {
	padding: 0 !important;
	font-size: 16px !important;
	font-weight: 400 !important;
	line-height: 20px !important;
	color: var(--black) !important;
}

.input-default {
	padding: 0 !important;
	margin: 0 !important;
}

.separator-default {
	width: 0 !important;
}

.indicator-default {
	width: 24px !important;
	height: 24px !important;
	padding: 0 !important;

	&.focused {
		width: 24px !important;
		height: 24px !important;
		padding: 0 !important;
	}
}

.arrow-default {
	padding: 0 !important;
	fill: var(--black);
	transition: transform 300ms !important;
	opacity: 1;

	&.focused {
		width: 24px !important;
		height: 24px !important;
		padding: 0 !important;
		transform: rotate(-180deg);
	}
}

.option-default {
	background-color: var(--white) !important;

	&:hover {
		background-color: var(--grey-3) !important;
	}

	&.selected {
		color: var(--black) !important;
		background-color: var(--grey-1) !important;
	}
}
