.box {
	display: flex;

	&.inputs {
		flex-direction: column;
		gap: 1px;
	}

	&.input {
		flex-direction: column;
	}

	&.checkbox {
		flex-direction: row;
		align-items: center;
	}

	&.info {
		flex-direction: column;
		gap: 24px;
		padding: 6px 4px 16px;
	}
}

.container {
	max-width: 558px;
	padding-bottom: 24px;
}

.button-wrapper {
   width: 209px;
}