@import 'app/styles/sass/mixins.scss';

.default {
	display: flex;
	flex-direction: column;
	width: 576px;
	margin: 0;
	padding: 0;
	list-style: none;

	@include mobile {
		width: 288px;
	}
}

.header {
	display: flex;
	gap: 36px;
	padding-left: 80px;
	list-style: none;
	pointer-events: none;
	margin-right: 75px;

    @include tablet {
        gap: 18px;

        padding-left: 25px;
        margin-right: 0;
	}

    @include mobile {
		flex-direction: column;
        gap: 24px;

        margin: 16px 0 0;
        padding-left: 12px;
	}

	li {
		pointer-events: auto;
		transition: 0.3s;

        @include mobile {
            transition: 0s;
        }
    
	}

	a {
		transition: 0.3s;

        @include mobile {
            transition: 0s;
        }
	}

	&:hover {
		li:not(:hover) {
			color: var(--grey);
			opacity: 0.3;
		}
	}
}

.footer {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	gap: 16px;
	list-style: none;

	@include mobile {
		gap: 12px;
	}

	li {
		position: relative;
		width: fit-content;
		&::after {
			content: '';
			position: absolute;
			bottom: -3px;
			left: 0;
			display: block;
			width: 100%;
			height: 1px;
			background-color: var(--grey-5);
			opacity: 0;
			@include hover;
		}

		&:hover::after {
			opacity: 1;
		}
	}
}

.answer {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	list-style: disc;
}

.paragraph {
	display: flex;
	flex-direction: column;
	padding-left: 0px;
}

.numbered-list {
	display: flex;
	flex-direction: column;
	padding-left: 20px;
	list-style-type: decimal;
}

.result {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 16px;
}

.sberbank {
	display: flex;
	flex-direction: column;
	width: 559px;
	margin: 28px 0 0 15px;
	padding: 0;
	list-style: disc;
}

.tinkoff {
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.sberbank-sevice {
	list-style: none;
	padding: 0;
	margin: 28px 0 0 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
