@import 'app/styles/sass/mixins.scss';

.logo {
	background-image: url('/images/logo_tinkoff.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
	width: 269px;
	height: 215px;

  @include desktop {
    width: 210px;
    height: 210px;
  }

  @include tablet {
    display: none;
  }
}

.main-info {
	display: flex;
	justify-content: space-between;
	gap: 213px;

  @include desktop {
    gap: 30px;
  }

  @include mobile {
    margin-top: 12px;
  }
}

.rating {
	margin-top: 8px;
	margin-bottom: 40px;

  @include mobile{
    margin-bottom: 24px;
  }
}

.description {
	display: flex;
	flex-direction: column;
	gap: 16px;
	max-width: 654px;
	margin-top: 40px;
	margin-bottom: 40px;

  @include mobile {
    margin-top: 24px;
    gap: 12px;
    margin-bottom: 21px;
  }
}

.paragraphs {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.services {
	max-width: 847px;
	display: flex;
	flex-direction: column;
	gap: 16px;

  @include mobile {
    gap: 11px;
  }
}

.wrapper-services {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
}

.documents {
	margin: 40px 0;
	display: flex;
	flex-direction: column;
	gap: 16px;

  @include mobile {
    gap: 11px;
    margin: 21px 0;
  }
}

.passport {
	position: relative;
	margin-left: 24px;

	&::before {
		content: '';
		position: absolute;
		background: var(--black);
		width: 5px;
		height: 5px;
		left: -13px;
		top: 50%;
		transform: translateY(-50%);
		border-radius: 50%;
	}

  @include mobile {
    margin-left: 20px;
  }
}

.license {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-bottom: 32px;

  @include mobile {
    gap: 12px;
    margin-bottom: 24px;
  }
}

.buttons {
	display: flex;
	gap: 24px;
	margin-bottom: 100px;

  @include mobile {
    flex-direction: column;
    gap: 12px;
    margin-bottom: 52px;
  }
}
