@import 'app/styles/sass/mixins.scss';

.logo {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;

	&.main {
		background-image: url('/images/logo.svg');
		width: 221px;
		height: 54px;
		cursor: pointer;
		flex-shrink: 0;

		@include tablet {
			width: 128px;
			height: 36px;
		}
	}

	&.footer {
		background-image: url('/images/logo.svg');
		width: 221px;
		height: 54px;
		cursor: pointer;
		flex-shrink: 0;

		@include tablet {
			display: none;
		}
	}

	&.insurance {
		background-image: url('/images/logo.svg');
		width: 50px;
		height: 50px;
	}

	&.result {
		background-color: #d3d3d3;
		width: 64px;
		height: 64px;
		border-radius: 12px;
	}

	&.sberbank {
		background-image: url('/images/logo_sber.svg');
		width: 269px;
		height: 25px;

		@include desktop {
			display: none;
		}
	}

	&.vsk {
		background-image: url('/images/logo_vsk.svg');
		width: 349px;
		height: 92px;

		@include tablet {
			display: none;
		}
	}
}
