@import 'app/styles/sass/mixins.scss';

.root {
	margin: 0 auto;
	max-width: var(--max-width-section);

	@include desktop {
		padding: 0 16px;
	}

	@include tablet {
		max-width: 675px;
	}

	@include mobile {
		max-width: 328px;
	}
}
