@import 'app/styles/sass/mixins.scss';

.container {
	display: flex;
	min-height: 120px;
	max-width: 1136px;
	border-radius: 24px;
	background-color: var(--white);
	align-items: center;
	padding: 28px 24px;
	box-sizing: border-box;

	@include desktop {
		flex-direction: column;
		gap: 20px;
	}

	@include mobile {
		padding: 28px 20px;
		margin-bottom: 28px;
	}
}

.container-company {
	display: flex;
	margin-right: 45.5px;

	@include mobile {
		margin-right: 0;
	}
}

.rating {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-left: 16px;
	width: 237px;

	@include mobile {
		width: 212px;
		margin-left: 12px;
	}
}

.container-button {
	display: flex;
	gap: 8px;
	margin-left: auto;

	@include desktop {
		margin-left: 0;
	}

	@include tablet {
		justify-content: center;
	}

	@include mobile {
		width: 100%;
		flex-direction: column;
		gap: 12px;
	}
}
