.root {
	padding: 48px 0 96px;
	box-sizing: border-box;
	background-color: var(--white);
}

.columns {
	display: flex;
	gap: 20px;
}

.column {
	display: flex;
	flex-direction: column;
	width: 269px;
	gap: 24px;
}
