.root {
	display: flex;
	flex-grow: 1;
}

.container {
	display: flex;
	flex-direction: column;
	margin-top: 220px;
	margin-bottom: 204px;
	gap: 32px;
	justify-content: center;
}

.title {
	display: block;
	margin: 0 auto;
	max-width: 180px;
	text-align: center;
	margin-bottom: 16px;
}
